.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

main {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.preview,
.html-output,
.live-preview {
  width: 30%;
}

img {
  max-width: 100%;
  height: auto;
}

textarea,
iframe {
  width: 100%;
  height: 300px;
}
